<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Doramas</title>

     <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
    <h1> 
        MEU DIÁRIO DE DORAMAS
    </h1>
    <ul> 
        <li><a th:href=@{/assistidos}>ASSISTIDOS</a></li>
        <li><a th:href=@{/andamento}>EM ANDAMENTO</a></li>
        <li><a th:href=@{/desejados}>DESEJADOS</a></li>
    </ul>
    <div class="frase-rodape">
        <hr class="linha-divisoria">
        <p>Cada episódio, uma nova emoção</p>
        <hr class="linha-divisoria">
    </div>
</body>
</html>