<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login • Diário de Doramas</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <script th:inline="javascript">
    window.loginErro = /*[[${erroLogin} ? true : false]]*/ false;
    </script>
    
    <script src="/js/login.js"></script>
</head>
<body>

    <h1>LOGIN</h1>

    <div class="form-container">
        <form th:action="@{/login}" method="post">

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit">Entrar</button>

            <p class="texto-menor">
                Não tem conta?
                <a th:href="@{/cadastro}">Criar cadastro</a>
            </p>

        </form>
    </div>

</body>
</html>
