@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #f2e9e6 0%, #ffc8d9 100%); 
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px; 
}

h1 {
    color: #c62368;
    text-align: center;
    font-size: 3em;
    margin-top: 0; 
    margin-bottom: 5px; 
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px; 
}

ul {
    list-style: none; 
    padding: 0;
    margin: 40px auto 20px auto; 
    display: flex; 
    justify-content: center; 
    max-width: 80%;
}

ul li {
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
    padding: 10px 0;
    font-family: 'Arial', sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    color: #c62368; 
    border-bottom: 3px solid #ff92ae; 
}

ul li a {
    text-decoration: none; 
    color: inherit; 
    display: block;
    padding-bottom: 5px;
}

.conteudo-container {
    display: flex;
    justify-content: center;
    gap: 15px; 
    padding: 20px;
}

.caixa {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 2px solid #ff92ae; 
    border-radius: 5px;
    width: 30%; 
    min-height: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.frase-rodape {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #c62368;
}

.frase-rodape p {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    margin: 0;
}

.linha-divisoria {
    width: 60%;
    margin: 10px auto;
    border: 0;
    border-top: 2px solid #ff92ae;
}

img {
    width: 100px;
    height: 100px;
}

.botao-sair {
    position: fixed;
    top: 20px;
    left: 20px;
    border: 2px solid #c62368;
    color: #c62368;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.25s;
}

.botao-sair:hover {
    background-color: #ffc8d9;
    color: #8e1343;
}

